
body {
    background-color: transparent;
    padding-bottom: 3%;
}


.linkIcons img {
    width: 70%;
    margin-bottom: 15px;
}    

.activeLink {
    text-decoration: underline;
    pointer-events: none;
    cursor: default;
}

h1 {
    font-size: 400%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.87);
}

h3 {
    font-size: 150%;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.87);
    text-transform: uppercase;
    text-align: center;
}

h4 {
    font-size: 150%;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.87);
}

h5 {
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.8px;
    text-align: center;
    opacity: 0.85;
    padding-top: -4px;
}

h6 {
    text-align: center;
    font-weight: 100;
    font-style: italic;
    font-size: 110%;
}

.links {
    position: fixed;
    padding-top: 3%;
    background-color: rgba(255, 255, 255, 0.11);
    height: 100vh;
    -webkit-box-shadow: 0px 0px 150px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.links img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    margin-bottom: 15%;
}

@media (max-width: 768px) {
    .links {
        position: inherit;
        height: inherit;
        margin-bottom: 5%;
    }
    .links img {
        margin-top: 11%;
        margin-bottom: 0;
    }
    .links h3 {
        display: block;
        margin-top: auto;
        margin-bottom: 18px;
    }
    .links h4 {
        font-size: 200%;
    }
    .links h5 {
        font-size: 180%;
        text-align: left;
        margin-top: -5px;
    }
    .links h6 {
        font-size: 110%;
        text-align: left;
        margin-top: -1px;
        letter-spacing: .3px;
}



p {
    color: rgba(255, 255, 255, 0.62);
    letter-spacing: 2px;
}

.tightSpacing {
    letter-spacing: 0;
}



